@titleColor: @osuWebGray;
@headColor: @osuWebGray;
@textColor: @osuWebGray;
@linkColor: @osuOrange;
@bgColor:   #FFF;

@bodyFont: "Open Sans", Verdana, Helvetica, Arial, sans-serif;
@headFont: Ubuntu, @bodyFont;
@codeFont: Menlo, "Lucida Console", Courier, monospace;
@headWeight: 600;

@hMargin: 100px;
@vMargin: 30px;
@footHeight: 150px;


/* Margins and positioning */

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

img{
  max-width:50%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

figcaption {
  text-align: center;
}

#page {
  min-height: 100%;
  width: 100%;
  position: relative;
}

#content {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  text-align:justify;
  padding: 10px 36px 0px 36px;
  padding-bottom: @footHeight + @vMargin;
  min-height: 500px;
  max-width: 700px;
}

#myNavbar {
  margin-bottom: @vMargin;
}

.break {
  clear: both;
}

.container {
  margin: 0;
}


/* Fonts and colors */

body {
  background-color: @bgColor;
  color: @textColor;
  font-family: @bodyFont;
  font-size: 100%;
  line-height: 1.4;
}

h1, h2, h3, h4 {
  margin-top: @vMargin;
  font-family: @headFont;
  font-weight: @headWeight;
}

h1 {
  color: @titleColor;
}
  
h2, h3, h4 {
  color: @headColor;
}

h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 125%; }
h4 { font-size: 100%; }

a {
  text-decoration: none;
  color: @linkColor;
}

code {
  background-color: #f7f8f9;
  padding: 0 5px;
  font-size: 100%;
  font-family: @codeFont;
}

pre code {
  font-family: @codeFont;
  font-size: 90%;
  padding: 40px 20px;
  background-color: #f7f8f9;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

pre {
  margin-left: 2em;
}

#navigation {
    display: none;
    background: #FFFFFF  repeat-x left bottom;
    text-align: center;
    width: 340pt;
    margin: 0px 0px 0px 0px;
    position:absolute;
    top:100px;
    left:0px;
}

.subtitle {
  margin-top: -20px;
  margin-bottom: 0px;
  font-size: 18pt;
  color: rgb(117, 117, 117);
}

.pub_date {
  font-size: 10pt;
  color: grey;
  margin-bottom: 30px;
}

/* Style the hamburger menu */
.navbar a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 10;
  top: 0;
  display: none;
  font-size: 30pt;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  //hide links except "Home"
  #navbar {padding-left: 10px};
  .navbar li:not(:first-child) {display: none;}
  //show Hamburger menu
  .navbar a.icon {
    float: right;
    display: block;
  }
  .navbar.responsive {
    position: relative;
  }

  // when resonsive class is added, open the menu
  .navbar.responsive li {
    float: none;
    display: block;
    text-align: left;
  }

  #navigation {
    display: none;
  }
}

