
<div id="footer">
  <div class="foot-block foot-about">
    <div class="foot-head">About Me</div>
    French researcher living in Trento, Italy.
    Currently employed in Create-Net research centre and 
    PhD student in Computer Science.
  </div>
  
  <div class="foot-block foot-map">
    <div class="foot-head">Pages</div>
    <ul class="foot-list">
      <li class="foot-item">
        <a href="/index.html">Home</a>
      </li>
      <li class="foot-item">
        <a href="/pages/news.html">News</a>
      </li>
      <li class="foot-item">
        <a href="/pages/research.html">Research</a>
      </li>
      <li class="foot-item">
        <a href="/pages/publications.html">Publications</a>
      </li>
    </ul>
  </div>
  
  <div class="foot-block foot-map">
    <div class="foot-head">Projects</div>
    <ul class="foot-list">
      <li class="foot-item">
        <a href="http://www.dc4cities.eu">DC4Cities</a>
      </li>
      <li class="foot-item">
        <a href="http://www.iot-icore.eu/">iCore</a>
      </li>
      <li class="foot-item">
        <a href="http://www.fit4green.eu/">FIT4Green</a>
      </li>
    </ul>
  </div>
  
  <div class="foot-block foot-map">
    <div class="foot-head">Profiles</div>
    <ul class="foot-list">
      <li class="foot-item">
        <a href="https://github.com/cdupont">GitHub</a>
      </li>
    </ul>
  </div>
  
  <div class="foot-madeby">
    © Corentin Dupont, <a href="/pages/legal.html">details</a>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-46617657-1', 'corentindupont.com');
    ga('send', 'pageview');
  
  </script>
</div>
