<div class="foot-block foot-about">
  <div class="foot-head">About Me</div>
  French researcher living in Trento, Italy.
  Currently employed in Create-Net research centre and 
  PhD student in Computer Science.
</div>

<div class="foot-block foot-map">
  <div class="foot-head">Pages</div>
  <ul class="foot-list">
    <li class="foot-item">
      <a href="/index.html">Home</a>
    </li>
    <li class="foot-item">
      <a href="/news.html">News</a>
    </li>
    <li class="foot-item">
      <a href="/research.html">Research</a>
    </li>
    <li class="foot-item">
      <a href="/publications.html">Publications</a>
    </li>
  </ul>
</div>

<div class="foot-block foot-map">
  <div class="foot-head">Projects</div>
  <ul class="foot-list">
    <li class="foot-item">
      <a href="to come">DC4Cities</a>
    </li>
    <li class="foot-item">
      <a href="http://www.iot-icore.eu/">iCore</a>
    </li>
    <li class="foot-item">
      <a href="http://www.fit4green.eu/">FIT4Green</a>
    </li>
  </ul>
</div>

<div class="foot-block foot-map">
  <div class="foot-head">Profiles</div>
  <ul class="foot-list">
    <!--
    <li class="foot-item">
      <a href="/CV.pdf">CV</a>
    </li>
    -->
    <li class="foot-item">
      <a href="https://github.com/cdupont">GitHub</a>
    </li>
  </ul>
</div>

<div class="foot-madeby">
  © Corentin Dupont, <a href="/legal.html">details</a>
</div>
