$partial("templates/head.html")$
$partial("templates/navbar.html")$

<div id ="navigation">
    <a href="/blog/index.html"> <h1>Blog</h1></a>
    <a href="/index.html">Home</a>
    <a href="/blog/posts.html">Archive</a>
    <a href="http://enfinlafrique.uniterre.com/">Enfin l'Afrique!</a>
    <a href="/blog/pages/recommendations.html">Stuff</a>
    <a href="/blog/pages/contact.html">Contact</a>
    
    <h1>Categories</h1>
    $cats$
</div>
<div id="content">
  <div class="container">
    $body$
  </div>
</div>

$partial("templates/footer.html")$
      

