<ul class="nav-list">
  <li class="nav-elem nav-left nav-head">
    <a href="/">Corentin Dupont</a>
  </li>
  <li class="nav-elem nav-left $if(on-news)$ nav-active $endif$">
    <a href="/pages/news.html">News</a>
  </li>
  <li class="nav-elem nav-left $if(on-research)$ nav-active $endif$">
    <a href="/pages/research.html">Research</a>
  </li>
  <li class="nav-elem nav-left $if(on-publications)$ nav-active $endif$">
    <a href="/pages/publications.html">Publications</a>
  </li>
  <li class="nav-elem nav-left $if(on-industry)$ nav-active $endif$">
    <a href="/pages/industry.html">Industry</a>
  </li>
  <li class="nav-elem nav-left $if(on-perso)$ nav-active $endif$">
    <a href="/blog/index.html">My Blog</a>
  </li>
  <li class="nav-elem nav-right">
    <a href="https://github.com/cdupont">GitHub</a>
  </li>
  <li class="nav-elem nav-right">
    <a href="/docs/CV_CDUPONT.pdf">CV</a>
  </li>
</ul>
