$partial("templates/head.html")$
$partial("templates/navbar.html")$


<div id="content">
  <div class="container">
    <h1>$title$</h1>
    $if(description)$
    <p class="subtitle"> $description$ </h2>
    $endif$
    <p class="pub_date"> Published on $date$ </p>
    $body$
    <h2>Comments</h2>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_identifier = '$url$';
      var disqus_url = 'https://www.corentindupont.info' + '$url$';
      var disqus_title = '$title$';
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'https://cdupont.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript><p>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript=cdupont">comments powered by Disqus.</a></p></noscript>
  </div>
</div>


$partial("templates/footer.html")$
