html {
    margin: 0px;
    padding: 0px;
        background: transparent repeat-y left top;
}

body {
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

div#navigation {
    background: #FFFFFF  repeat-x left bottom;
    text-align: center;
    float:left;
    width:150px;
    margin: 0px 0px 0px 18px;
    position:fixed;
    top:0px
}


div#navigation h1, div#navigation a {
    display: block;
    text-align: right;
    color: DarkOliveGreen;
    margin: 6px 0px 6px 0px;
}

div#content {
    margin: 0px 0px 0px 200px;
    padding: 0px 36px 0px 36px;
    width: 1000px;
}

